@model Person


<form method="post">
    <div class="card border-dark p-3 mt-4" style="max-width: 40rem; margin: auto">
        <div class="card-header text-light"> 
            <h1>Enter Person Data</h1>
         </div>
        <div>
            <label asp-for="Name" class="form-label mt-2"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Age" class="form-label mt-4"></label>
            <input asp-for="Age" class="form-control" placeholder="Age">
            <span asp-validation-for="Age" class="text-danger"></span>

        </div>
        <div>
            <label asp-for="BirthDate" class="form-label mt-4"></label>
            <input type="Date" asp-for="BirthDate" class="form-control" placeholder="Enter Birth Date">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Address" class="form-label mt-4"></label>
            <input asp-for="Address" class="form-control" placeholder="Enter Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Phone" class="form-label mt-4"></label>
            <input asp-for="Phone" class="form-control" placeholder="Enter Phone Number">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="btn-group mt-4">
            <div>
                <button type="submit" class="btn btn-lg btn-outline-secondary">Submit</button>
            </div>
            <div>
                <a asp-controller="PersonInfo" asp-action="Index" class="btn btn-lg btn-outline-secondary"> BACK</a>
            </div>
        </div>
    </div>
</form>